#form {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 10px;
  form {
    justify-content: center;
  }
  width: 94%;
}

#form label {
  font-size: 20px;
}

#form input {
  font-size: 15px;
}

.ap-suggestions {
  color: #82AE46;
}

.schedule-input {
  width: 100px;
  input {
    text-align: center;
    max-width: 100px;
  }
}

#tableau-recap {
  background-color: white;
  border-radius: 10px;
  width: 680px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#table-modal-shopping-basket th {
  padding-top: 10px;
  text-align: left;
  text-transform: uppercase;
  color: #82AE46;
}

#table-modal-shopping-basket td {
  font-size: 15px;
  padding-top: 10px;
  }

#table-modal-shopping-basket td th {
  font-size: 15px;
  padding-top: 10px;
}

#table td {
  padding: 0.75rem;
  padding-top: 0.75rem;
  vertical-align: top;
}

.table th {
  padding: 0.75rem;
  padding-top: 0.75rem;
  vertical-align: top;
}

td a:hover {
  color: #82AE46;
}

.table thead th{
  border-bottom: none!important;
}

.table th, .table tbody + tbody{
  border-top: none!important;
}

.table td{
  border-top: 1px solid #82AE46;
}

#table-modal-shopping-basket td{
  padding-left: 0px!important;
}
