h1 {
  color: #82AE46;
  margin-top: 40px;
}

label {
 padding-left: 0%;
}

form-group{
  padding-left: 50px;
}

.row {
}

#button2 {
  padding-left: 50%;
  margin-bottom: 40px;
  margin-top: 40px;
}

#container1 {
  height: 20px;
}

#address {
  padding-left: 150px;
  padding-right: 150px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.btn-stripe {
background-image: linear-gradient(#E46600,#E46600 85%,#E46600);
padding: 7px 12px;
line-height: 30px;
font-size: 14px;
font-weight: bold;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
border-radius: 4px;
color:white;
border: 1px solid #E46600
}

 #cart-table {
  background-color: #F4F4F4;
}
