h1 {
  color:  #daa325;
  margin-top: 40px;
}

label {
 padding-left: 50%;
}

form-group{
  padding-left: 50px;
}

.row {
  margin: 20px;
}

#button2 {
  padding-left: 50%;
  margin-bottom: 40px;
  margin-top: 40px;
}

#container1 {
  height: 20px;
}

#address {
  padding-left: 150px;
  padding-right: 150px;
  margin-bottom: 50px;
  margin-top: 50px;
}

#map {
  padding-left: 500px;
  padding-right: 50px;
}
