<footer id="footer" class="page-footer font-small mdb-color lighten-3 pt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">Philosophie</h5>
        <p>Nous travaillons avec les meilleurs producteurs de Rungis afin de vous proposer tous les jours des produits frais et de qualité à un prix raisonnable</p>


      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!">Projets</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">A propos de nous</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">BLOG</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">Récompenses</a>
            </p>
          </li>
        </ul>

      </div>

      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <h5 class="font-weight-bold text-uppercase mb-4">Contact</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i> Paris, 92016, France</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> Prox.Rungis@hotmail.com</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i> +33 6 77 47 82 97</p>
          </li>
          <li>
            <p>
              <i class="fas fa-print mr-3"></i> 02 40 91 22 78</p>
          </li>
        </ul>

      </div>

      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
        <a type="button" class="btn-floating btn-fb">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a type="button" class="btn-floating btn-tw">
          <i class="fab fa-twitter"></i>
        </a>
        <a type="button" class="btn-floating btn-gplus">
          <i class="fab fa-google-plus-g"></i>
        </a>
        <a type="button" class="btn-floating btn-dribbble">
          <i class="fab fa-dribbble"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
