<div id="container">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer id="footer" class="page-footer font-small mdb-color lighten-3 pt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 col-lg-2 mx-auto my-md-2 my-0 mt-2 mb-1">
        <h6 class="font-weight-bold text-uppercase mb-4">About</h6>
        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!">Projets</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">A propos de nous</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">BLOG</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">Récompenses</a>
            </p>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-4 col-lg-3 mx-auto my-md-2 my-0 mt-2 mb-1">
        <h6 class="font-weight-bold text-uppercase mb-4">Contact</h6>
        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i> Paris, 92016, France</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> Rungis@hotmail.com</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i> +33 6 77 47 82 97</p>
          </li>
          <li>
            <p>
              <i class="fas fa-print mr-3"></i> 02 40 91 22 78</p>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 col-lg-2 text-center mx-auto my-2">
        <h6 class="font-weight-bold text-uppercase mb-4">Follow Us</h6>
        <a href="#" class="fab fa-facebook-square ml-2 mr-2" style="font-size:32px; color: black"></a>
        <a href="#" class="fab fa-twitter-square mr-2" style="font-size:32px; color: black"></a>
        <a href="#" class="fab fa-instagram mr-2" style="font-size:32px; color: black"></a>
      </div>
    </div>
  </div>
</footer>
</div>
