<h3><strong><%= restaurant.name%></strong></h3>
<h4><%= restaurant.address%></h4>
<h5><strong><u>Horraires :</u></strong></h5>
<h5><%= restaurant.delivery_start_hour %>h00 - <%= restaurant.delivery_end_hour %>h00</h5>
