<head>
  <link rel="stylesheet" href="order.scss">
    <div class="container" style="height: 300px">
     <h1 class = "mb-5 text-center" style="color:  #99a59f"> Quand souhaitez vous récupérer vôtre commande ? </h1>
    </div>
    <div>
      <a href="..." class="btn btn-primary">Let's go !</a>
    </div>
</head>


