<h1>Proxy Rungis</h1>
<h2>Manger des fruits et légumes frais n'a jamais été aussi simple !</h2>
<h3>Des fruits et légumes de qualité, pas cher, en bas de chez toi ! </h3>
<br>
<p>1) Je choisis mon panier de saison.</p>
<p>2) Je dis où j'habite, et quand je veux récupérer le panier.</p>
<p>3) Je récupère mon panier frais à l'endroit convenu.</p>

<button type="button" class="btn btn-success">Success</button>

<img src="">
