<div class="container" style="height: 200px">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dhf3phkaa/image/upload/v1566827389/fruit_basket_dfayvi.webp);">
    <div class="container">
      <h1>Proxy Rungis</h1>
      <p>
        <strong>Des fruits et légumes de qualité, pas cher, juste en bas de chez toi !</strong>
      </p>
      <button type="button" class="btn btn-success">Voir nos produits</button>
      <div> <%= link_to "Voir nos produits", packages_path %></div>
    </div>
  </div>
  <h2>Manger des fruits et légumes frais n'a jamais été aussi <strong class="mark">simple !</strong></h2>
  <h3>Des fruits et légumes <strong class="mark">de qualité, pas cher, juste en bas de chez toi !</strong></h3>
  <br>
  <p>1) Je choisis mon panier de saison.</p>
  <p>2) J'indique où j'habite, et quand je veux récupérer le panier.</p>
  <p>3) Je récupère mon panier frais à l'endroit convenu.</p>
  <h2>C'est le bon plan <strong class="mark">rapide et sans prise de tête.</strong></h2>
  <h3 style="text-decoration: underline;">Qui sommes-nous ?</h3>
  <p>Nous sommes 4 développeurs parisiens en quête de fruits et légumes de qualité.</p>
  <h3 style="text-decoration: underline;">Nôtre mission</h3>
  <p>
    Nôtre mission, c'est de vous proposer des fruits et légumes toujours meilleurs, toujours moins cher et toujours plus proche de chez vous.
  </p>
  <h3 style="text-decoration: underline;">Nôtre astuce :</h3>
  <p>On à remarqué que ce qui coûte cher dans l'alimentaire, c'est le transport et le stockage. Grâce à une solution innovante et technologique nous pouvons réduire ses coûts de manière à se focaliser sur la qualité des aliments.<a href="#">En savoir plus.</a></p>
  <button type="button" class="btn btn-success">Voir nos produits</button>
  <button type="button" class="btn btn-primary">Qui sommes-nous</button>
  <img src=""> <!-- Ici on va ajouter le caroussel -->
</div>
