#map {
  width: 60%;
  height: 500px;
  margin: 0 auto;
  border: 1px solid #82AE46;
}

.mapboxgl-popup {
  max-width: 200px;
  box-shadow: 10px 10px 5px gray;
}

.mapboxgl-popup-content {
  text-align: center;
  padding: 3px;
  font-family: 'Poppins', sans-serif
}
