.card-package-infos {
  text-align: center;

}


.card-package-buttons {
  display: flex;

}

#back-index-show-packages {

}

#quantity-form-button {
  display: inline-block;
  position: relative;

}

#button-close {
  position: absolute;
  right: 35px;
  bottom: 16px;


}

.main-div-show {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

#packages-choices {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-content: space-between;
  margin: -4px;
  margin-top: 30px;
  margin-bottom: 30px;
  select {
    width: 18vw;
  }
  button {
    margin: 13px;
    font-size: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  input {
    margin-top: 17px;
  }
  label {
    margin-top: 10px;
    margin-left: 5px;
  }
}

// #checkbox-bio {
// padding-left: 10px;

// }

#modal-header-packages {
display: flex;

}

#search-in-packages {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.shopping-basket-icon {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

#table-modal-shopping-basket {

  td {
    font-size: 12px;
    padding-top: 10px;
  }
  th {
  padding-top: 10px;
  }
}

#modal-body-shopping-basket {
  padding: 0;
}

.active {
  color: blue;

}

#title-index-packages {
  margin: 10px;

}
