.product-tag {
  padding: 2px 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.product-tag.bg-green {
  background-color: $green;
  color: white;
}

.product-tag.bg-pink {
  background-color: #c04ca0;
  color: white;
}
.product-tag.bg-blue {
  background-color: #3e9cbd;
  color: white;
}

.product-tag.bg-orange {
  background-color: #fc7414;
  color: white;
}
